/* nav */
nav {
  background-color: rgb(212, 233, 252);
  padding: 1rem;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;

  border-bottom: 2px solid #1167b3;
}
nav img {
  width: 3rem;
}
nav h1 {
  color: #1167b3;
  font-size: 2rem;
  /* -webkit-text-stroke-color: black;
  -webkit-text-stroke-width: 1px; */
}